body {
    font-family: "ROBOTO", Arial, sans-serif;
}

.body-center {
    min-width: 1200px;
    background-color: #849d8f;
    font-size: 16px;
    margin: 0 auto;
    background-image: url("../img/fon_ice_klub.png");
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
    -o-transition: background-image 0.5s ease, background-color 0.5s ease;
    transition: background-image 0.5s ease, background-color 0.5s ease;
    /* центральный блок для каталога*/
}

.body-conteiner {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.body-catalog {
    width: 1200px;
    font-size: 16px;
    margin: 0 auto;
    min-width: 940px;
    /*центральный блок для каталога*/
}

.body-conteiner-catalog {
    min-width: 1200px;
    background-color: #849d8f;
    font-size: 16px;
    margin: 0 auto;
}

.main-menu a, .catalog-item a, .info-list a, .copyright a, .breadcrumbs a {
    color: white;
}

.body-center::before, .body-center::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/fon_ice_shoko.png");
}

.site-wrapper::after {
    background-image: url("../img/fon_ice_vanille.png");
}

.slider {
    position: relative;
    margin-top: 272px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 41px;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 60px;
    line-height: 1;
}

.slider .button {
    display: inline-block;
    vertical-align: top;
    padding: 12px 44px;
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}

.slider .button:hover, .slider .button:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider .button:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label:hover, .slider-controls label:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

.slider-controls {
    position: absolute;
    bottom: 22px;
    left: 0;
    z-index: 20;
    padding-left: 27px;
    font-size: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.slide {
    display: none;
}

.product-1:checked~.body-center .slide1, .product-2:checked~.body-center .slide2, .product-3:checked~.body-center .slide3 {
    display: block;
}

.product-1:checked~.body-center label[for="product-1"], .product-2:checked~.body-center label[for="product-2"], .product-3:checked~.body-center label[for="product-3"] {
    background-color: #ffffff;
}

.product-1:checked~.body-center {
    background-color: #849d8f;
    background-image: url("../img/fon_ice_klub.png");
}

.product-2:checked~.body-center {
    background-color: #8996a6;
    background-image: url("../img/fon_ice_shoko.png");
}

.product-3:checked~.body-center {
    background-color: #9d8b84;
    background-image: url("../img/fon_ice_vanille.png");
}

.slide-button {
    margin-top: 2px;
}

/* Блок Хиты и карточка товара Начало */

.catalog-item {
    position: relative;
    width: 267px;
    height: 362px;
    text-align: center;
    margin-bottom: 0px;
}

.hit-img {
    position: absolute;
    height: 61px;
    width: 61px;
    background-color: white;
    border-radius: 50px;
}

.price {
    position: absolute;
    top: 165px;
    font-size: 45px;
    color: white;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    text-shadow: 1px 1px 3px grey;
}

.sub {
    text-transform: lowercase;
    font-size: 30px;
}

.button {
    text-decoration: none;
}

.hits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style-type: none;
    width: 1146px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: 27px;
    margin-bottom: 2px;
}

.ice-font {
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 1.4;
}

.ice-font:hover, .ice-font:focus {
    border-bottom: 1px solid rgb(246, 181, 165);
}

.item-img {
    margin-bottom: 13px;
    height: 267px;
    width: 267px;
    border-radius: 200px;
    background-color: yellow;
}

/* Блок Хиты и карточка товара Конец */

/* Блок Промо с вафлей Начало */

.promo {
    background-image: url("../img/blog_fon_vaflya.png");
    background-color: rgb(255, 228, 181);
    border-radius: 15px;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1146px;
    height: 306px;
    margin-left: 27px;
    margin-right: 27px;
    position: relative;
    z-index: 100;
    margin-bottom: 40px;
    padding-left: 20px;
    margin-top: -3px;
}

.promo-font {
    margin-top: 12px;
    margin-left: 8px;
    line-height: 1.4;
    width: 480px;
}

.promo-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 550px;
}

.img-promo {
    margin: 0;
    padding: 0;
    height: 49px;
    width: 49px;
}

.promo-enter {
    margin-top: 25px;
    font-size: 24px;
    line-height: 1.3;
    font-weight: inherit;
    height: 40px;
    margin-bottom: 29px;
    word-spacing: 1.4px;
}

.promo-fix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1116px;
    height: 197px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 0;
    margin-left: -10px;
}

/* Блок Промо с вафлей Конец */

/* Блок блог и подписка Начало */

.seo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 27px;
    margin-right: 27px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px;
}

.blog-new {
    background: url("../img/blog_fon_straw.jpg") top left no-repeat;
    border-radius: 15px;
    width: 560px;
    min-height: 220px;
    background-color: white;
}

.news {
    width: 300px;
    padding-left: 20px;
    padding-top: 9px;
    margin: 0;
}

.subscribe {
    background: url("../img/pochta.png")top left no-repeat;
    border-radius: 15px;
    width: 534px;
    min-height: 204px;
    background-color: white;
    padding-left: 26px;
    padding-top: 17px;
}

.blog {
    margin-top: -12px;
    font-size: 24px;
    margin-bottom: 0;
}

.blog a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    background: -webkit-gradient(linear, left top, right top, from(black), to(black));
    background: -webkit-linear-gradient(left, black, black 100%);
    background: -o-linear-gradient(left, black, black 100%);
    background: linear-gradient(to right, black, black 100%);
    background-position: 0 92%;
    background-size: 10px 2px;
    background-repeat: repeat-x;
    line-height: 1.3;
}

.blog a:hover, .blog a:focus {
    color: rgb(255, 188, 158);
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 188, 158)), to(rgb(255, 188, 158)));
    background: -webkit-linear-gradient(left, rgb(255, 188, 158), rgb(255, 188, 158) 100%);
    background: -o-linear-gradient(left, rgb(255, 188, 158), rgb(255, 188, 158) 100%);
    background: linear-gradient(to right, rgb(255, 188, 158), rgb(255, 188, 158) 100%);
    background-position: 0 92%;
    background-size: 10px 2px;
    background-repeat: repeat-x;
    line-height: 1.3;
}

.new {
    font-size: 16px;
    font-weight: bold;
}

.button {
    display: inline-block;
    vertical-align: top;
    color: white;
    text-decoration: none;
    outline: none;
    border-width: 0 0;
    border-style: solid none;
    border-radius: 30px;
    background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    opacity: 0.988;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover, .button:focus {
    background-image: -webkit-linear-gradient( 90deg, #f28065 0%, #ed715f 100%);
    background-image: -ms-linear-gradient( 90deg, #f28065 0%, #ed715f 100%);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:active {
    background-image: -webkit-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.subs {
    width: 503px;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.1px;
    text-align: justify;
    margin-bottom: 37px;
}

.email-button {
    width: 126px;
    height: 44px;
    font-size: 18px;
    margin-left: 8px;
    padding: 9px 18px;
    cursor: pointer;
}

.table-sub {
    border: 1px solid rgb(178, 178, 178);
    height: 42px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    width: 338px;
    min-height: 24px;
    padding-left: 12px;
    color: rgba(17, 10, 10, 0.301);
    opacity: 0.5;

}

/* Блок блог и подписка конец */

/* Блок Акции Начало */

.stock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style-type: none;
    width: 1146px;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    margin-left: 27px;
    margin-right: 27px;
}

.action-left {
    background-image: url("../img/blog_fon_malin.png");
    background-repeat: no-repeat;
    width: 521px;
    min-height: 199px;
    background-color: rgb(87, 6, 6);
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.action-left a:hover, .action-right a:hover {
    color: white;
}

.action-right {
    background-image: url("../img/blog_fon_shocko.png");
    background-repeat: no-repeat;
    width: 521px;
    min-height: 199px;
    background-color: rgb(53, 5, 5);
    border-radius: 15px;
    padding-left: 19px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.action-font {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 38px;
}

.action-button-left {
    position: relative;
    bottom: -27px;
    height: 19px;
    padding: 13px 25px 14px 20px;
    font-size: 18px;
    left: 355px;
}

.action-button-right {
    position: relative;
    bottom: -28px;
    height: 19px;
    padding: 13px 24px 13px 19px;
    font-size: 18px;
    left: 333px;
}

.description {
    font-size: 18px;
    margin-top: -20px;
}

/* Блок Акции Конец */

/* Блок карта Начало */

.map {
    position: relative;
    height: 428px;
    margin-bottom: 3px;
}

.map-img {
    position: absolute;
    width: 100%;
    background-color: rgba(159, 235, 206, 0.788);
    height: 428px;
    margin: 0;
    padding: 0;
}

.map-info {
    position: relative;
    background-color: rgba(255, 255, 255, 0.98);
    width: 255px;
    height: 263px;
    border-radius: 15px;
    left: 872px;
    top: 61px;
    font-size: 14px;
    padding: 22px 20px 20px 25px;
}

.button-map {
    position: relative;
    padding-left: 6px;
    padding-top: 11px;
    padding-bottom: 13px;
    font-size: 18px;
    width: 250px;
    margin-top: 17px;
    cursor: pointer;
}

.map-info strong {
    font-size: 18px;
}

.adress {
    line-height: 0.5;
    margin-bottom: 30px;
}

.order {
    line-height: 0.7;
}

/* Блок карта конец */

footer a:hover, body a:hover {
    color: rgb(255, 188, 158);
}

/*Розовый цвет ссылок, кроме хедера*/

/* Блок Меню страниц Начало и подменю*/

.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 362px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: 35px;
    margin-top: 6px;
}

.user-navigation li {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.navigator a {
    display: block;
}

.navigator>a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu-item {
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

.cheked {
    cursor: pointer;
    background-color: rgb(208, 112, 88);
    border-radius: 50px;
    color: white;
    padding: 5px 15px 7px 5px;
    margin-right: -13px;
}

.cheked a {
    display: block;
    text-decoration: none;
    border: none;
}

.action {
    background-color: rgb(208, 112, 88);
}

.line {
    height: 4px;
    border-bottom: 1px solid rgba(151, 146, 146, 0.514);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
}

.sub-menu {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(248, 247, 244);
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    width: 146px;
    height: 171px;
    border-radius: 5px;
    font-size: 14px;
    padding-top: 5px;
    top: 58px;
    margin-left: -10px;
}

.sub-link {
    text-decoration: none;
    color: black;
    line-height: 1.4;
    padding: 6px 4px 5px 20px;
    border: none;
}

.user-navigation a:hover {
    color: black;
}

.user-navigation>.navigator:hover {
    background-color: white;
    border-radius: 50px;
    padding: 5px 10px 5px 0;
    margin-right: -10px;
    color: black;
}

.navigator:hover a {
    color: black;
}

.user-navigation>.navigator:active {
    -webkit-box-shadow: inset 0 2px 2px black;
    box-shadow: inset 0 2px 2px black;
    background-color: white;
    border-radius: 50px;
    padding: 5px 10px 5px 0;
    margin-right: -10px;
    color: black;
}

.cheked:hover a {
    color: black;
    text-decoration: none;
}

.navigator:hover .sub-menu {
    display: block;
    z-index: 1000;
}

.cheked:hover .sub-menu {
    display: block;
    z-index: 1000;
}

.sub-menu a:hover {
    color: black;
    background-color: rgb(251, 222, 215);
}

/* Блок Меню страниц КОнец*/

.logo {
    position: relative;
    left: 27px;
    top: 9px;
    height: 64px;
    width: 154px;
}

.logo-fix {
    position: relative;
    left: 27px;
    top: 9px;
    height: 64px;
    width: 154px;
    margin-right: 5px;
}

/* логотип*/

.header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*выровнял относительно логотипа*/

.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1016px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

/* Блок правое меню Начало */

.user-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 280px;
    list-style-type: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 22px;
}

.user-control li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 300px;
}

.user-control li:hover {
    background-color: rgba(255, 255, 255, 1);
}

.user-control a {
    border: none;
    text-decoration: none;
}

a.basket {
    background: url(../img/header_trash.png) 27px 7px no-repeat;
    display: block;
    height: 19px;
    width: 21px;
    padding: 6px 15px 6px 100px;
    border-radius: 100px;
}

a.enter {
    background: url(../img/header_inter.png) 17px 6px no-repeat;
    display: block;
    height: 19px;
    width: 50px;
    padding: 6px 0 7px 45px;
}

a.search-enter {
    background: url(../img/header_lupa.png)8px 7px no-repeat;
    display: block;
    height: 17px;
    width: 17px;
    padding: 8px;
}

.login-info {
    padding-left: 20px;
    line-height: 1.3;
    font-size: 13px;
    text-align: left;
    width: 120px;
}

.login-info a {
    display: inline-block;
    vertical-align: bottom;
    color: black;
    font-size: 13px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
}

.login-info a:hover {
    display: inline-block;
    vertical-align: bottom;
    color: rgb(255, 188, 158);
    border-bottom: 1px solid rgb(255, 188, 158);
}

li:hover .basket {
    color: black;
    background: url("../img/header_trash_activ.png") 27px 7px no-repeat;
}

li:hover .enter {
    color: black;
    background: url("../img/header_inter-activ.png") 17px 6px no-repeat;
}

li:hover .search-enter {
    color: black;
    background: url("../img/header_lupa-activ.png") 9px 8px no-repeat;
}

li:hover .a-text {
    display: none;
}

a .b-text {
    display: none;
}

li:hover .b-text {
    display: inline;
    margin-left: -45px;
}

.a-text {
    margin-left: -36px;
}

.user-control>li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}

.user-control .search-form {
    position: absolute;
    left: -325px;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(248, 247, 244);
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    width: 360px;
    height: 84px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1;
    z-index: 219;
    top: 38px;
}

li:hover .search-form {
    display: block;
    z-index: 1000;
}

.search-form input {
    border: 1px solid rgb(211, 211, 210);
    border-radius: 5px;
    opacity: 0.6;
    width: 300px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    margin: 15px 10px 15px 10px;
}

.login-form {
    position: absolute;
    left: -182px;
    top: 37px;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(248, 247, 244);
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    width: 277px;
    height: 214px;
    border-radius: 6px;
    font-size: 14px;
}

li:hover .login-form {
    display: block;
    z-index: 1000;
}

.login-form input {
    border: 1px solid rgb(211, 211, 210);
    border-radius: 5px;
    opacity: 0.6;
    width: 220px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 8px;
    padding-left: 15px;
}

.tach {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px;
}

.button-enter {
    position: relative;
    color: white;
    text-decoration: none;
    border-width: 0 0;
    border-style: solid none;
    background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    opacity: 0.988;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    margin: 0;
    padding: 0;
    border-radius: 50px;
    width: 100px;
    height: 44px;
    top: 5px;
    font-size: 18px;
}

.button-enter:hover, .button-enter:focus {
    background-image: -webkit-linear-gradient( 90deg, #f28065 0%, #ed715f 100%);
    background-image: -ms-linear-gradient( 90deg, #f28065 0%, #ed715f 100%);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button-enter:active {
    background-image: -webkit-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.shop {
    position: absolute;
    line-height: 1.3;
    font-size: 13px;
    text-align: left;
    border-radius: 5px;
    background-color: rgb(248, 247, 244);
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    width: 539px;
    height: 242px;
    left: -403px;
    top: 38px;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
}

li:hover .shop {
    display: block;
    z-index: 1000;
}

.shop-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgba(179, 177, 177, 0.4);
    margin-left: 10px;
    margin-right: 10px;
    width: 515px;
    margin-top: 11px;
    height: 104px;
    padding-bottom: 13px;
}

.delete {
    height: 11;
    width: 11;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.mini-icon {
    margin-right: 10px;
}

.shop-unit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 515px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 52px;
}

.img-shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 315px;
}

.cancellation {
    margin-top: 15px;
    width: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.cancellation span {
    opacity: 0.7;
}

.amount {
    margin-left: 30px;
}

.info-shop {
    word-wrap: break-word;
    width: 220px;
    margin-right: 20px;
}

.button-sale {
    position: relative;
    color: white;
    text-decoration: none;
    border-width: 0 0;
    border-style: solid none;
    background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    opacity: 0.988;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    margin: 0;
    padding: 0;
    border-radius: 50px;
    width: 174px;
    height: 44px;
    font-size: 18px;
    top: 10px;
    left: 352px;
}

.button-sale:hover, .button-sale:focus {
    background-image: -webkit-linear-gradient( 90deg, #f28065 0%, #ed715f 100%);
    background-image: -ms-linear-gradient( 90deg, #f28065 0%, #ed715f 100%);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button-sale:active {
    background-image: -webkit-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.total {
    font-size: 15px;
    width: 520px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 13px;
    margin-left: auto;
    margin-top: 15px;
}

.banner {
    color: white;
    position: relative;
    padding-top: 0;
    width: 180px;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}

.banner-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 27px;
    margin-left: 27px;
    width: 1146px;
    margin-top: -4px;
}

.banner p:last-child {
    font-size: 22px;
}

.banner p:first-child {
    font-size: 14px;
}

.banner p {
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Блок с телефоном Конец */

/* Создание карточки товара при ховере Начало */

.catalog-item:hover:nth-child(n+1) {
    background-color: rgba(248, 247, 244, 0.3);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    z-index: 300;
    left: -10px;
    top: -10px;
    bottom: -10px;
    right: -10px;
    margin-bottom: -90px;
    margin-right: -20px;
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    padding-bottom: 40px;
}

.catalog-item:hover .price {
    margin-top: 55px;
}

.catalog-item:hover .button-see {
    display: block;
    position: absolute;
}

.button-see {
    position: absolute;
    display: none;
    color: white;
    text-decoration: none;
    outline: none;
    border-width: 0 0;
    border-style: solid none;
    border-radius: 30px;
    background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    opacity: 0.988;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    padding: 10px 15px 10px 15px;
    left: 60px;
    bottom: 20px;
}

.catalog-item .button-see {
    color: white;
}

.button-see:hover, .button-see:focus {
    background-image: -webkit-linear-gradient( 90deg, #f28065 0%, #ed715f 100%);
    background-image: -ms-linear-gradient( 90deg, #f28065 0%, #ed715f 100%);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button-see:active {
    background-image: -webkit-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

/* Создание карточки товара при ховере Конец */

/* Блок футер и элементы в нём НАчало*/

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 105px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-list li {
    list-style-type: none;
}

.social-list a {
    opacity: 0.8;
    border: none;
}

.social-list a:hover {
    opacity: 1;
}

.social-list img:hover {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}

.social-button img {
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    height: 32px;
    width: 32px;
}

.social-list a:active {
    opacity: 0.9;
}

.social-button img:active {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    -webkit-box-shadow: inset 0 15px 15px -10px black;
    box-shadow: inset 0 15px 15px -10px black;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 185px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.academy-img {
    height: 39px;
    width: 108px;
}

.footer-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 1148px;
    margin-left: 27px;
    margin-right: 27px;
}

.info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 370px;
    list-style-type: none;
    margin-left: 88px;
    margin-top: 7px;
}

.info-list a {
    font-size: 13px;
    margin-left: 12px;
}

.info-list li {
    width: 180px;
    margin-top: 4px;
    margin-left: -40px;
}

.hearth {
    position: absolute;
    border: none;
    margin-left: -10px;
    margin-top: 4px;
    height: 13px;
    width: 15px;
}

.footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: -10px;
    width: 191px;
}

.copyright {
    font-size: 12px;
    color: white;
}

.footer-copyright a {
    border: none;
    margin-bottom: 1px;
}

/* Блок футер и элементы в нём Конец*/

.milk-ice {
    color: white;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 20px;
}

/*Хлебные крошки Начало*/

.breadcrumbs {
    font-size: 14px;
    color: white;
    margin-top: -21px;
    padding-right: 10px;
    word-spacing: 4px;
}

.breadcrumbs a {
    text-decoration: none;
}

.index-site, .catalog-site {
    border-bottom: 1px solid rgba(255, 255, 255, 0.288);
}

.index-site:hover, .catalog-site:hover {
    border-bottom: 1px solid rgb(246, 181, 165);
}

.container {
    margin-left: 27px;
    max-width: 1146px;
    margin-right: 27px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.container li, .container ul {
    padding: 0;
    margin: 0;
}

/*Хлебные крошки Конец*/

/*Блок фильтры Начало*/

.bar {
    margin-left: 10%;
}

.filters {
    margin-bottom: 38px;
    width: 1146px;
}

.filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 870px;
    margin-left: -10px;
}

.sort {
    margin: 0;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 200px;
    padding: 8px;
    padding-left: 19px;
    font-size: 16px;
}

.sort-box {
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
}

.sort:hover {
    color: black;
}

.sort-box:after {
    content: '▼';
    color: white;
    position: absolute;
    pointer-events: none;
    right: 6px;
    top: 2px;
    padding: 0 10px 10px 2px;
}

.sort::-ms-expand {
    display: none;
}

.sort-box:hover:after {
    content: '▼';
    color: black;
    position: absolute;
    pointer-events: none;
    right: 8px;
    top: 2px;
    padding: 0 10px 10px 2px;
}

.sort-box:before {
    content: '';
    right: 6px;
    top: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
    pointer-events: none;
    display: block;
}

.sort option {
    color: black;
}

.sort-legend {
    display: block;
    margin-left: 19px;
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

.range-legend {
    display: block;
    margin-left: 17px;
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

.fat-legend {
    display: block;
    margin-left: 13px;
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

.filler-legend {
    display: block;
    margin-left: 18px;
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

.filters .fieldset {
    margin: 1px;
    padding: 0;
    margin-left: 7px;
    border: none;
}

.fieldset-fat {
    margin: 1px;
    padding: 0;
    margin-left: 17px;
    border: none;
}

.filter-button {
    width: 143px;
    height: 37px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.188);
    cursor: pointer;
    color: white;
    margin-top: 28px;
    margin-left: 13px;
}

.filter-button:hover, .filter-button:focus {
    background-color: white;
    color: black;
}

.filter-button:active {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    -webkit-box-shadow: inset 0 2px 2px black;
    box-shadow: inset 0 2px 2px black;
}

.range-filter {
    width: 220px;
}

.range-controls {
    height: 18px;
    padding-right: 20px;
    padding-left: 22px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    border-radius: 40px;
    margin-bottom: 10px;
    padding-top: 16px;
}

.range-controls .scale {
    height: 3px;
    background: rgba(255, 255, 255, 0.4);
}

.range-controls .bar {
    width: 60%;
    height: 2px;
    background: rgba(255, 255, 255, 0.8);
}

.range-controls .toggle {
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 0;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 38px;
}

.range-controls .toggle-max {
    left: 135px;
}

.fat {
    Background-color: rgba(255, 255, 255, 0.2);
    list-style-type: none;
    width: 415px;
    border-radius: 50px;
    color: white;
    text-align: justify;
}

.filters input[type="radio"], .filters input[type="checkbox"] {
    display: none;
}

.filter-label span {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 7px;
    vertical-align: middle;
    background: url(../img/radio-off.png) left top no-repeat;
    cursor: pointer;
    opacity: 0.7;
    margin-left: 15px;
    margin-right: 8px;
}

.filter-input-radio:checked+label span {
    background: url(../img/radio-on.png) left top no-repeat;
}

.fat>li {
    display: inline;
}

.filler {
    Background-color: rgba(255, 255, 255, 0.2);
    list-style-type: none;
    width: 705px;
    border-radius: 50px;
    color: white;
}

.filter-input-checkbox+label span {
    display: inline-block;
    vertical-align: center;
    width: 22px;
    height: 22px;
    margin: 7px;
    margin-left: 18px;
    margin-right: 10px;
    vertical-align: middle;
    background: url(../img/checkbox-off.png) left top no-repeat;
    cursor: pointer;
    opacity: 0.7;
}

.filter-input-checkbox:checked+label span {
    background: url(../img/checkbox-on.png) left top no-repeat;
}

.filler>li {
    display: inline;
}

.filter-input-checkbox+label span:hover {
    opacity: 1;
}

.filter-input-radio+label span:hover {
    opacity: 1;
}

.filter-input-checkbox:disabled+label span {
    opacity: 0.1;
    cursor: default;
}

.filter-input-radio:disabled+label span {
    opacity: 0.1;
    cursor: default;
}

/*Блок фильтры КОнец*/

/*Пагинатор Начало*/

.pagination {
    display: inline-block;
    font-size: 16px;
    vertical-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 205px;
}

.pagination>li {
    display: inline;
}

.page>a {
    position: relative;
    padding: 3px 9px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}

.page>a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
}

.page>a:focus {
    background-color: white;
    color: black;
}

.active>a, .active>a:hover, .active>a:focus {
    z-index: 2;
    color: black;
    cursor: default;
    background-color: white;
}

.disabled>a, .disabled>a:hover, .disabled>a:focus {
    opacity: 0.3;
    cursor: default;
    background-color: transparent;
    color: white;
}

.paginator {
    margin-left: 950px;
    margin-bottom: 31px;
    margin-top: 45px;
}

/*Пагинатор Конец*/

/*Попап начало*/

.popup-feedback {
    position: fixed;
    display: none;
    top: 20%;
    left: 38%;
    border-radius: 10px;
    background-color: rgb(248, 247, 244);
    width: 478px;
    height: 443px;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    z-index: 2000;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1999;
}

.button-feedback {
    position: relative;
    color: white;
    text-decoration: none;
    border-width: 0 0;
    border-style: solid none;
    background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    opacity: 0.988;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    margin: 0;
    padding: 0;
    border-radius: 50px;
    width: 138px;
    height: 44px;
    font-size: 18px;
    top: 10px;
    left: 315px;
}

.button-feedback:hover, .button-feedback:focus {
    background-image: -webkit-linear-gradient( 90deg, #f28065 0%, #ed715f 100%);
    background-image: -ms-linear-gradient( 90deg, #f28065 0%, #ed715f 100%);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button-feedback:active {
    background-image: -webkit-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 22px;
    height: 22px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background-color: rgb(248, 247, 244);
}

.modal-close::before, .modal-close::after {
    content: "";
    top: 10px;
    left: 2px;
    position: absolute;
    width: 19px;
    height: 3px;
    background-color: black;
}

.modal-close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.feedback textarea {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(178, 178, 178);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.52;
    width: 410px;
    height: 152px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 15px;
}

.feedback input {
    border: 1px solid rgb(211, 211, 210);
    border-radius: 5px;
    opacity: 0.6;
    width: 267px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 15px;
}

.legend-feedback {
    font-size: 24px;
    margin-left: 20px;
    padding-top: 20px;
}

.feedback-show {
    display: block;
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
}

.overlay-show {
    display: block;
    -webkit-animation: dance 2s;
    animation: dance 2s;
}

@-webkit-keyframes dance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes bounce {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes bounce {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

/*Попап конец*/

/*Подчеркивания ссылок*/

.info-list a, .copyright a {
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.info-list a:hover, .copyright a:hover {
    text-decoration: none;
    border-bottom: 1px solid rgb(246, 181, 165);
}

/*Подчеркивания ссылок*/